/* styles.css */
div {
    color: #272757;
    font-size: 1rem;
    }

.card {
    margin: 20px;
    padding: 16px;
    border: 5px solid #490404;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 700px) {
    .navigation {
        flex-direction: column;
        background: #593a3a; color: grey; 
    }
}
}


